<!DOCTYPE html>
<html ng-app="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../0 App_Theme/angular.js"></script>
	<meta charset="utf-8" />
</head>
<body>
    <div>
        <input type="text" ng-model="a" />

        <select ng-model="a">
            <option value="1">北京</option>
            <option value="2">上海</option>
            <option value="3">安徽</option>
            <option value="4">深圳</option>
        </select>
    </div>
</body>
</html>
